.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #AFB9BD;
  
}

.me-auto{
  margin-left: 145vh;
  text-indent: 30px;
}

.logo {
  margin-left: -50px;
}

.text-reset{
  text-decoration: none;
}

.text-uppercase{
margin-left: 20px;
}

.text-dark{
  text-decoration: none;
}


.button{
  height: 31px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  touch-action: manipulation;
}

.body{
  display: flex;
  flex-wrap: wrap;
}

.footer{
  margin-top:10vh;
}
.footerr{
  background-color:#c6c6c6;
}

.cardFooter{
  background-color: #e0e0e0;
}

.sectionI{
  width: 40%;
}

.sectionII{
  width: 60%;
  margin-top: 10vh;
}

.title{
  color: #699aad;
  text-decoration: none;
}

.inputHome {
  width: 300px;
  margin-left: 250px;
}


.addButton{
  position:absolute;
  height: 40px;
  width: 90px;
  margin-left: 410px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  }


.list {
  margin-left: 80px;
  border: 0px solid rgb(241, 245, 246);
  width: 700px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.listItems {
  list-style: none;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  font-size: 30px;
}

.listItems, li {
padding: 10px;
font-size: 20px;
}

label {
  margin-left: 0px;
}

.buttonsED{
  width: 200px;
  position: absolute;
  margin-left: 430px;
 }


.labels{
  width: 20%;
}

.navlink{
  text-decoration: none;
  color: black;
}

a:active{
  color: gray;
}

.addItems{
  margin-top: -50px;
}

.containerEdit{
  border: 1px solid rgb(241, 245, 246);
  margin-top: 100px;
  margin-left: 400px;
  width: 700px;
  height: 300px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.addedItem{
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 600px;
  margin-left: 450px;
}

.addedId, .addedList{
  margin-right: 20px;
  font-size: 20px;
  font-family: sans-serif;
}






